<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <listeners>
        <!--<listener class-name="api.utilities.ExtentListeners"></listener>-->

        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>

    </listeners>
    <test name="API test1" parallel="classes" thread-count="2">

        <classes>
            <class name="api.test.PostUserTest"/>
            <class name="api.test.DataDrivenTest"/>

        </classes>
    </test>



</suite>
